@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

body {
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}


/* Padding */
.px-5 {
    padding: 0 5px 0 5px;
}

.px-10 {
    padding: 0 10px 0 10px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}


/* Flexbox & Margin */
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.align-center {
    align-items: center;
}


/* Border */
.br-5 {
    border-radius: 5px;
}

.br-10 {
    border-radius: 10px;
}

.br-15 {
    border-radius: 15px;
}


/* Box-shadow */
.shadow-1 {
    -webkit-box-shadow: 4px 4px 5px 0px rgba(163, 91, 91, 0.05);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.05);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.05);
}